@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Prevent text cursor/caret from appearing */
* {
  caret-color: transparent;
}

input,
textarea {
  caret-color: auto;
}
